In [2]:
!pip install GitPython

Collecting GitPython
  Obtaining dependency information for GitPython from https://files.pythonhosted.org/packages/8a/7e/20f7e45878b5aed34320fbeeae8f78acc806e7bd708d00b1c6e64b016f5b/GitPython-3.1.37-py3-none-any.whl.metadata
  Downloading GitPython-3.1.37-py3-none-any.whl.metadata (12 kB)
Collecting gitdb<5,>=4.0.1 (from GitPython)
  Using cached gitdb-4.0.10-py3-none-any.whl (62 kB)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->GitPython)
  Obtaining dependency information for smmap<6,>=3.0.1 from https://files.pythonhosted.org/packages/a7/a5/10f97f73544edcdef54409f1d839f6049a0d79df68adbc1ceb24d1aaca42/smmap-5.0.1-py3-none-any.whl.metadata
  Using cached smmap-5.0.1-py3-none-any.whl.metadata (4.3 kB)
Downloading GitPython-3.1.37-py3-none-any.whl (190 kB)
   ---------------------------------------- 0.0/190.0 kB ? eta -:--:--
   ------ --------------------------------- 30.7/190.0 kB ? eta -:--:--
   -------- ------------------------------ 41.0/190.0 kB 495.5 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/190.0 kB 751.6 kB/s eta 0:00:01
   ---------------------- --------------- 112.6/190.0 kB 731.4 kB/s eta 0:00:01
   -------------------------------------- 190.0/190.0 kB 885.6 kB/s eta 0:00:00
Using cached smmap-5.0.1-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, GitPython
Successfully installed GitPython-3.1.37 gitdb-4.0.10 smmap-5.0.1

In [3]:
!pip install streamlit

Collecting streamlit
  Obtaining dependency information for streamlit from https://files.pythonhosted.org/packages/34/01/9d1460a6e71d6226e1f5c5053de20758c41100c5c15abb73551273a96fb8/streamlit-1.27.2-py2.py3-none-any.whl.metadata
  Downloading streamlit-1.27.2-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting altair<6,>=4.0 (from streamlit)
  Obtaining dependency information for altair<6,>=4.0 from https://files.pythonhosted.org/packages/17/16/b12fca347ff9d062e3c44ad9641d2ec50364570a059f3078ada3a5119d7a/altair-5.1.2-py3-none-any.whl.metadata
  Downloading altair-5.1.2-py3-none-any.whl.metadata (8.6 kB)
Collecting blinker<2,>=1.0.0 (from streamlit)
  Obtaining dependency information for blinker<2,>=1.0.0 from https://files.pythonhosted.org/packages/bf/2b/11bcedb7dee4923253a4a21bae3be854bcc4f06295bd827756352016d97c/blinker-1.6.3-py3-none-any.whl.metadata
  Downloading blinker-1.6.3-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (4.24.3)
Requirement already satisfied: pyarrow>=6.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (2.31.0)
Collecting rich<14,>=10.14.0 (from streamlit)
  Obtaining dependency information for rich<14,>=10.14.0 from https://files.pythonhosted.org/packages/be/2a/4e62ff633612f746f88618852a626bbe24226eba5e7ac90e91dcfd6a414e/rich-13.6.0-py3-none-any.whl.metadata
  Downloading rich-13.6.0-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (4.7.1)
Collecting tzlocal<6,>=1.1 (from streamlit)
  Obtaining dependency information for tzlocal<6,>=1.1 from https://files.pythonhosted.org/packages/97/3f/c4c51c55ff8487f2e6d0e618dba917e3c3ee2caae6cf0fbb59c9b1876f2e/tzlocal-5.2-py3-none-any.whl.metadata
  Downloading tzlocal-5.2-py3-none-any.whl.metadata (7.8 kB)
Collecting validators<1,>=0.2 (from streamlit)
  Obtaining dependency information for validators<1,>=0.2 from https://files.pythonhosted.org/packages/3a/0c/785d317eea99c3739821718f118c70537639aa43f96bfa1d83a71f68eaf6/validators-0.22.0-py3-none-any.whl.metadata
  Using cached validators-0.22.0-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (3.1.37)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Using cached pydeck-0.8.1b0-py2.py3-none-any.whl (4.8 MB)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Collecting tzdata (from tzlocal<6,>=1.1->streamlit)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\saran\onedrive\documents\new folder\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Downloading streamlit-1.27.2-py2.py3-none-any.whl (7.6 MB)
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/7.6 MB 401.6 kB/s eta 0:00:19
   ---------------------------------------- 0.1/7.6 MB 401.6 kB/s eta 0:00:19
   ---------------------------------------- 0.1/7.6 MB 401.6 kB/s eta 0:00:19
   ---------------------------------------- 0.1/7.6 MB 401.6 kB/s eta 0:00:19
   - -------------------------------------- 0.2/7.6 MB 436.8 kB/s eta 0:00:17
   - -------------------------------------- 0.2/7.6 MB 509.6 kB/s eta 0:00:15
   - -------------------------------------- 0.2/7.6 MB 471.0 kB/s eta 0:00:16
   - -------------------------------------- 0.3/7.6 MB 505.4 kB/s eta 0:00:15
   - -------------------------------------- 0.3/7.6 MB 495.2 kB/s eta 0:00:15
   - -------------------------------------- 0.3/7.6 MB 495.2 kB/s eta 0:00:15
   - -------------------------------------- 0.3/7.6 MB 495.2 kB/s eta 0:00:15
   - -------------------------------------- 0.3/7.6 MB 495.2 kB/s eta 0:00:15
   - -------------------------------------- 0.3/7.6 MB 495.2 kB/s eta 0:00:15
   -- ------------------------------------- 0.4/7.6 MB 506.4 kB/s eta 0:00:15
   -- ------------------------------------- 0.5/7.6 MB 582.4 kB/s eta 0:00:13
   -- ------------------------------------- 0.5/7.6 MB 582.4 kB/s eta 0:00:13
   -- ------------------------------------- 0.5/7.6 MB 582.4 kB/s eta 0:00:13
   -- ------------------------------------- 0.5/7.6 MB 582.4 kB/s eta 0:00:13
   --- ------------------------------------ 0.6/7.6 MB 578.0 kB/s eta 0:00:13
   --- ------------------------------------ 0.6/7.6 MB 578.0 kB/s eta 0:00:13
   --- ------------------------------------ 0.7/7.6 MB 574.4 kB/s eta 0:00:13
   --- ------------------------------------ 0.7/7.6 MB 574.4 kB/s eta 0:00:13
   --- ------------------------------------ 0.7/7.6 MB 581.6 kB/s eta 0:00:12
   --- ------------------------------------ 0.8/7.6 MB 583.1 kB/s eta 0:00:12
   ---- ----------------------------------- 0.8/7.6 MB 584.9 kB/s eta 0:00:12
   ---- ----------------------------------- 0.8/7.6 MB 580.9 kB/s eta 0:00:12
   ---- ----------------------------------- 0.8/7.6 MB 576.8 kB/s eta 0:00:12
   ---- ----------------------------------- 0.9/7.6 MB 586.1 kB/s eta 0:00:12
   ---- ----------------------------------- 0.9/7.6 MB 586.1 kB/s eta 0:00:12
   ---- ----------------------------------- 0.9/7.6 MB 570.7 kB/s eta 0:00:12
   ---- ----------------------------------- 0.9/7.6 MB 590.1 kB/s eta 0:00:12
   ----- ---------------------------------- 1.0/7.6 MB 586.6 kB/s eta 0:00:12
   ----- ---------------------------------- 1.0/7.6 MB 582.9 kB/s eta 0:00:12
   ----- ---------------------------------- 1.0/7.6 MB 585.1 kB/s eta 0:00:12
   ----- ---------------------------------- 1.1/7.6 MB 581.8 kB/s eta 0:00:12
   ----- ---------------------------------- 1.1/7.6 MB 588.6 kB/s eta 0:00:12
   ----- ---------------------------------- 1.1/7.6 MB 588.6 kB/s eta 0:00:12
   ----- ---------------------------------- 1.1/7.6 MB 588.6 kB/s eta 0:00:12
   ----- ---------------------------------- 1.1/7.6 MB 588.6 kB/s eta 0:00:12
   ------ --------------------------------- 1.2/7.6 MB 595.3 kB/s eta 0:00:11
   ------ --------------------------------- 1.2/7.6 MB 591.1 kB/s eta 0:00:11
   ------ --------------------------------- 1.3/7.6 MB 593.1 kB/s eta 0:00:11
   ------ --------------------------------- 1.3/7.6 MB 594.4 kB/s eta 0:00:11
   ------ --------------------------------- 1.3/7.6 MB 595.3 kB/s eta 0:00:11
   ------ --------------------------------- 1.3/7.6 MB 595.3 kB/s eta 0:00:11
   ------- -------------------------------- 1.4/7.6 MB 584.8 kB/s eta 0:00:11
   ------- -------------------------------- 1.4/7.6 MB 584.8 kB/s eta 0:00:11
   ------- -------------------------------- 1.4/7.6 MB 575.0 kB/s eta 0:00:11
   ------- -------------------------------- 1.5/7.6 MB 584.8 kB/s eta 0:00:11
   ------- -------------------------------- 1.5/7.6 MB 586.4 kB/s eta 0:00:11
   -------- ------------------------------- 1.5/7.6 MB 595.6 kB/s eta 0:00:11
   -------- ------------------------------- 1.6/7.6 MB 600.7 kB/s eta 0:00:11
   -------- ------------------------------- 1.6/7.6 MB 601.2 kB/s eta 0:00:10
   -------- ------------------------------- 1.6/7.6 MB 601.9 kB/s eta 0:00:10
   -------- ------------------------------- 1.7/7.6 MB 602.8 kB/s eta 0:00:10
   -------- ------------------------------- 1.7/7.6 MB 604.3 kB/s eta 0:00:10
   --------- ------------------------------ 1.8/7.6 MB 608.7 kB/s eta 0:00:10
   --------- ------------------------------ 1.8/7.6 MB 616.3 kB/s eta 0:00:10
   --------- ------------------------------ 1.8/7.6 MB 620.4 kB/s eta 0:00:10
   --------- ------------------------------ 1.9/7.6 MB 620.9 kB/s eta 0:00:10
   ---------- ----------------------------- 1.9/7.6 MB 625.1 kB/s eta 0:00:10
   ---------- ----------------------------- 1.9/7.6 MB 625.5 kB/s eta 0:00:10
   ---------- ----------------------------- 2.0/7.6 MB 625.9 kB/s eta 0:00:10
   ---------- ----------------------------- 2.0/7.6 MB 629.5 kB/s eta 0:00:09
   ---------- ----------------------------- 2.1/7.6 MB 636.5 kB/s eta 0:00:09
   ---------- ----------------------------- 2.1/7.6 MB 636.5 kB/s eta 0:00:09
   ---------- ----------------------------- 2.1/7.6 MB 636.5 kB/s eta 0:00:09
   ----------- ---------------------------- 2.1/7.6 MB 631.1 kB/s eta 0:00:09
   ----------- ---------------------------- 2.2/7.6 MB 649.3 kB/s eta 0:00:09
   ------------ --------------------------- 2.3/7.6 MB 658.3 kB/s eta 0:00:09
   ------------ --------------------------- 2.4/7.6 MB 672.8 kB/s eta 0:00:08
   ------------ --------------------------- 2.5/7.6 MB 683.8 kB/s eta 0:00:08
   ------------- -------------------------- 2.5/7.6 MB 697.7 kB/s eta 0:00:08
   ------------- -------------------------- 2.7/7.6 MB 719.5 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 729.7 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.7/7.6 MB 732.4 kB/s eta 0:00:07
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 515.8 kB/s eta 0:00:10
   -------------- ------------------------- 2.8/7.6 MB 379.5 kB/s eta 0:00:13
   -------------- ------------------------- 2.8/7.6 MB 384.8 kB/s eta 0:00:13
   --------------- ------------------------ 2.9/7.6 MB 385.7 kB/s eta 0:00:13

In [1]:
import json
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import os
import streamlit as st

In [2]:
local =r"C:\Users\saran\Downloads\pulse-master\pulse-master\data\aggregated\transaction\country\india\state\tamil-nadu\2018\1.json"
Data=open(local)
D=json.load(Data)
print(D)

{'success': True, 'code': 'SUCCESS', 'data': {'from': 1514745000000, 'to': 1522175400000, 'transactionData': [{'name': 'Recharge & bill payments', 'paymentInstruments': [{'type': 'TOTAL', 'count': 3308548, 'amount': 646028338.3951533}]}, {'name': 'Peer-to-peer payments', 'paymentInstruments': [{'type': 'TOTAL', 'count': 2670613, 'amount': 10031518934.085688}]}, {'name': 'Merchant payments', 'paymentInstruments': [{'type': 'TOTAL', 'count': 326510, 'amount': 272002057.1736871}]}, {'name': 'Financial Services', 'paymentInstruments': [{'type': 'TOTAL', 'count': 115363, 'amount': 31876073.74792233}]}, {'name': 'Others', 'paymentInstruments': [{'type': 'TOTAL', 'count': 305588, 'amount': 280132294.11422664}]}]}, 'responseTimestamp': 1630501487400}

In [4]:
path =r"C:\Users\saran\Downloads\pulse-master\pulse-master\data\map\transaction\hover\country\india\state"
agg_state_list=os.listdir(path)
State=pd.DataFrame(agg_state_list)
State

                                     0
0            andaman-&-nicobar-islands
1                       andhra-pradesh
2                    arunachal-pradesh
3                                assam
4                                bihar
5                           chandigarh
6                         chhattisgarh
7   dadra-&-nagar-haveli-&-daman-&-diu
8                                delhi
9                                  goa
10                             gujarat
11                             haryana
12                    himachal-pradesh
13                     jammu-&-kashmir
14                           jharkhand
15                           karnataka
16                              kerala
17                              ladakh
18                         lakshadweep
19                      madhya-pradesh
20                         maharashtra
21                             manipur
22                           meghalaya
23                             mizoram
24                            nagaland
25                              odisha
26                          puducherry
27                              punjab
28                           rajasthan
29                              sikkim
30                          tamil-nadu
31                           telangana
32                             tripura
33                       uttar-pradesh
34                         uttarakhand
35                         west-bengal

In [7]:
State.to_csv('State.csv',index=False)

In [5]:
data = {'State': [
    'andaman-&-nicobar-islands',
    'andhra-pradesh',
    'arunachal-pradesh',
    'assam',
    'bihar',
    'chandigarh',
    'chhattisgarh',
    'dadra-&-nagar-haveli-&-daman-&-diu',
    'delhi',
    'goa',
    'gujarat',
    'haryana',
    'himachal-pradesh',
    'jammu-&-kashmir',
    'jharkhand',
    'karnataka',
    'kerala',
    'ladakh',
    'lakshadweep',
    'madhya-pradesh',
    'maharashtra',
    'manipur',
    'meghalaya',
    'mizoram',
    'nagaland',
    'odisha',
    'puducherry',
    'punjab',
    'rajasthan',
    'sikkim',
    'tamil-nadu',
    'telangana',
    'tripura',
    'uttar-pradesh',
    'uttarakhand',
    'west-bengal'
]}

In [6]:
State = pd.DataFrame(data)
replacement_dict = {
    'andaman-&-nicobar-islands': 'Andaman & Nicobar',
    'andhra-pradesh': 'Andhra Pradesh',
    'arunachal-pradesh':'Arunachal Pradesh',
    'assam':'Assam',
    'bihar':'Bihar',
    'chandigarh':'Chandigarh',
    'chhattisgarh':'Chhattisgarh',
    'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu',
    'delhi':'Delhi',
    'goa':'Goa',
    'gujarat':'Gujarat',
    'haryana':'Haryana',
    'himachal-pradesh':'Himachal Pradesh',
    'jammu-&-kashmir':'Jammu & Kashmir',
    'jharkhand':'Jharkhand',
    'karnataka':'Karnataka',
    'kerala':'Kerala',
    'ladakh':'Ladakh',
    'lakshadweep':'Lakshadweep',
    'madhya-pradesh':'Madhya Pradesh',
    'maharashtra':'Maharashtra',
    'manipur':'Manipur',
    'meghalaya':'Meghalaya',
    'mizoram':'Mizoram',
    'nagaland':'Nagaland',
    'odisha':'Odisha',
    'puducherry':'Puducherry',
    'punjab':'Punjab',
    'rajasthan':'Rajasthan',
    'sikkim':'Sikkim',
    'tamil-nadu':'Tamil Nadu',
    'telangana':'Telangana',
    'tripura':'Tripura',
    'uttar-pradesh':'Uttar Pradesh',
    'uttarakhand':'Uttarakhand',
    'west-bengal':'West Bengal'
}


State['State'] = State['State'].replace(replacement_dict)
State

                                       State
0                          Andaman & Nicobar
1                             Andhra Pradesh
2                          Arunachal Pradesh
3                                      Assam
4                                      Bihar
5                                 Chandigarh
6                               Chhattisgarh
7   Dadra and Nagar Haveli and Daman and Diu
8                                      Delhi
9                                        Goa
10                                   Gujarat
11                                   Haryana
12                          Himachal Pradesh
13                           Jammu & Kashmir
14                                 Jharkhand
15                                 Karnataka
16                                    Kerala
17                                    Ladakh
18                               Lakshadweep
19                            Madhya Pradesh
20                               Maharashtra
21                                   Manipur
22                                 Meghalaya
23                                   Mizoram
24                                  Nagaland
25                                    Odisha
26                                Puducherry
27                                    Punjab
28                                 Rajasthan
29                                    Sikkim
30                                Tamil Nadu
31                                 Telangana
32                                   Tripura
33                             Uttar Pradesh
34                               Uttarakhand
35                               West Bengal

In [9]:
#Dataframe of aggregated Transactions
path =r"C:\Users\saran\Downloads\pulse-master\pulse-master\data\aggregated\transaction\country\india\state"
agg_trans_list = os.listdir(path)

columns = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = path + "/"+ state
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state + "/"+ year 
        agg_file_list = os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file = cur_year +"/"+ file
            data = open(cur_file, 'r')
            A = json.load(data)
            
            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns['Transaction_type'].append(name)
                columns['Transaction_count'].append(count)
                columns['Transaction_amount'].append(amount)
                columns['State'].append(state)
                columns['Year'].append(year)
                columns['Quarter'].append(int(file.strip('.json')))
                
df_agg_trans = pd.DataFrame(columns)

In [10]:
df_agg_trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3949,west-bengal,2023,2,Merchant payments,245111000,1.767046e+11
3950,west-bengal,2023,2,Peer-to-peer payments,240347041,7.970548e+11
3951,west-bengal,2023,2,Recharge & bill payments,58950434,3.478924e+10
3952,west-bengal,2023,2,Financial Services,327537,3.174670e+08
3953,west-bengal,2023,2,Others,581674,4.489893e+08

In [11]:
#Dataframe of aggregated user
path =r"C:/Users/saran/Downloads/pulse-master/pulse-master/data/aggregated/user/country/india/state" 

agg_user_list = os.listdir(path)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = path +"/" + state 
    agg_year_list = os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year = cur_state+"/"  + year +"/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year +"/" + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns1["Brands"].append(brand_name)
                    columns1["Count"].append(counts)
                    columns1["Percentage"].append(percents)
                    columns1["State"].append(state)
                    columns1["Year"].append(year)
                    columns1["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns1)

In [12]:
df_agg_user

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [13]:
#Dataframe of map transactions
path2 =r"C:/Users/saran/Downloads/pulse-master/pulse-master/data/map/transaction/hover/country/india/state" 
 
map_trans_list = os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = path2+"/" + state+"/" 
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state+ "/" + year 
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year+ "/" + file
            data = open(cur_file,'r')
            C = json.load(data)
            
            for i in C["data"]["hoverDataList"]:
            
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns2["District"].append(district)
                columns2["Count"].append(count)
                columns2["Amount"].append(amount)
                columns2['State'].append(state)
                columns2['Year'].append(year)
                columns2['Quarter'].append(int(file.strip('.json')))
                
df_map_trans = pd.DataFrame(columns2)

In [14]:
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16095,west-bengal,2023,2,nadia district,26194658,5.410386e+10
16096,west-bengal,2023,2,birbhum district,14912523,2.941312e+10
16097,west-bengal,2023,2,purba medinipur district,30724502,6.595899e+10
16098,west-bengal,2023,2,maldah district,24677357,5.218621e+10
16099,west-bengal,2023,2,darjiling district,13049366,2.372866e+10

In [15]:
#Dataframe of map user

path3 =r"C:/Users/saran/Downloads/pulse-master/pulse-master/data/map/user/hover/country/india/state"  

map_user_list = os.listdir(path3)

columns3 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = path3+ "/" + state 
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state+ "/" + year 
        map_file_list = os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file = cur_year+ "/" + file
            data = open(cur_file, 'r')
            D = json.load(data)
            
            for D in D["data"]["hoverData"].items():
                District = D[0]
                registeredUser = D[1]["registeredUsers"]
                appOpens = D[1]['appOpens']
                columns3["District"].append(District)
                columns3["RegisteredUser"].append(registeredUser)
                columns3["AppOpens"].append(appOpens)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))
                
df_map_user = pd.DataFrame(columns3)

In [16]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16099,west-bengal,2023,2,nadia district,1482400,9509833
16100,west-bengal,2023,2,birbhum district,934943,12789154
16101,west-bengal,2023,2,purba medinipur district,1468608,12096564
16102,west-bengal,2023,2,maldah district,1046132,17662446
16103,west-bengal,2023,2,darjiling district,613398,15141713

In [17]:
#top transactions
path4 = r"C:/Users/saran/Downloads/pulse-master/pulse-master/data/top/transaction/country/india/state"

top_trans_list = os.listdir(path4)
columns4 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = path4 + "/" + state 
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state + "/"+ year 
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + "/"+ file
            data = open(cur_file, 'r')
            E = json.load(data)
            
            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns4['Pincode'].append(name)
                columns4['Transaction_count'].append(count)
                columns4['Transaction_amount'].append(amount)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns4)

In [18]:
df_top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
7848,west-bengal,2023,2,700001,2918444,6.259877e+09
7849,west-bengal,2023,2,721301,2910870,4.458107e+09
7850,west-bengal,2023,2,700039,2886562,4.662887e+09
7851,west-bengal,2023,2,700015,2774383,4.372975e+09
7852,west-bengal,2023,2,700014,2757479,5.108638e+09

In [19]:
# top users

path5 = r"C:/Users/saran/Downloads/pulse-master/pulse-master/data/top/user/country/india/state"
top_user_list = os.listdir(path5)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path5 + "/"+ state 
    top_year_list = os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year = cur_state+ "/" + year 
        top_file_list = os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file = cur_year + "/"+ file
            data = open(cur_file, 'r')
            F = json.load(data)
            
            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns5['Pincode'].append(name)
                columns5['RegisteredUsers'].append(registeredUsers)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns5)

In [20]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
7849                west-bengal  2023        2  700015           117690
7850                west-bengal  2023        2  742304           114746
7851                west-bengal  2023        2  721101           114293
7852                west-bengal  2023        2  700150           110694
7853                west-bengal  2023        2  700091           110637

[7854 rows x 5 columns]

In [22]:
df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans.to_csv('top_trans.csv',index=False)
df_top_user.to_csv('top_user.csv',index=False)
State.to_csv('State.csv',index=False)

In [16]:
import pymysql

In [17]:
mydb = pymysql.connect(
     host="localhost",
     user="root",
     password="12345",
     database="phonepe_db",
     autocommit=True
     )
print(mydb)

<pymysql.connections.Connection object at 0x0000024BD5CEA190>

In [18]:
cursor=mydb.cursor()

In [19]:
cursor.execute("create database if not exists phonepe_db")

1

In [20]:
for x in cursor:
    print(x)

In [21]:
cursor.execute("use phonepe_db")

0

In [25]:
cursor.execute("select * from agg_trans1")

3954

In [23]:
cursor.execute("create table agg_trans1 (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount float);")

0

In [24]:
sql = """INSERT INTO agg_trans1(State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount )VALUES (%s,%s,%s,%s,%s,%s)"""
for i, row in df_agg_trans.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [28]:
cursor.execute("select * from agg_user")

6732

In [26]:
cursor.execute("create table agg_user1(State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage int);")

0

In [27]:
sql = """INSERT INTO agg_user1(State,Year,Quarter,Brands,Count,Percentage )VALUES (%s,%s,%s,%s,%s,%s)"""
for i, row in df_agg_user.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [31]:
cursor.execute("create table map_trans2 (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount float);")

0

In [32]:
sql = """INSERT INTO map_trans2 (State,Year,Quarter,District,Count,Amount )VALUES (%s,%s,%s,%s,%s,%s)"""
for i, row in df_map_trans.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [33]:
cursor.execute("select * from map_trans2")

16100

In [34]:
cursor.execute("create table map_user (State varchar(100), Year int, Quarter int, District varchar(100), RegisteredUser int,AppOpens int);")

0

In [35]:
sql = """INSERT INTO map_user (State,Year,Quarter,District,RegisteredUser,AppOpens )VALUES (%s,%s,%s,%s,%s,%s)"""
for i, row in df_map_user.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [36]:
cursor.execute("select * from map_user")

16104

In [37]:
cursor.execute("create table top_trans1 (State varchar(100), Year int, Quarter int, Pincode int, Transaction_Count int,Transaction_Amount float);")

0

In [38]:
sql = """INSERT INTO top_trans1 (State,Year,Quarter,Pincode,Transaction_Count,Transaction_Amount )VALUES (%s,%s,%s,%s,%s,%s)"""
for i, row in df_top_trans.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [39]:
cursor.execute("select * from top_trans1")

7853

In [40]:
cursor.execute("create table top_user1 (State varchar(100), Year int, Quarter int, Pincode int, RegisteredUser int);")

0

In [41]:
sql = """INSERT INTO top_user1 (State,Year,Quarter,Pincode,RegisteredUser )VALUES (%s,%s,%s,%s,%s)"""
for i, row in df_top_user.iterrows():
    cursor.execute(sql,tuple(row))
    mydb.commit()

In [42]:
cursor.execute("select * from top_user1")

7854

In [43]:
cursor.execute("show tables")
cursor.fetchall()

(('agg_trans',),
 ('agg_trans1',),
 ('agg_user',),
 ('agg_user1',),
 ('map_trans',),
 ('map_trans1',),
 ('map_trans2',),
 ('map_user',),
 ('map_user1',),
 ('top_trans',),
 ('top_trans1',),
 ('top_user',),
 ('top_user1',))

In [44]:
def insights_page(select):
    st.title(':violet[BASIC INSIGHTS]')
    st.subheader("The basic insights are derived from the Analysis of the Phonepe Pulse data. It provides a clear idea about the analysed data.")
    options = ["--select--",
            "1. Top 10 states based on year and amount of transaction",
            "2. Least 10 states based on year and amount of transaction",
            "3. Top 10 States and Districts based on Registered_users",
            "4. Least 10 States and Districts based on Registered_users",
            "5. Top 10 Districts based on the Transaction Amount",
            "6. Least 10 Districts based on the Transaction Amount",
            "7. Top 10 Districts based on the Transaction count",
            "8. Least 10 Districts based on the Transaction count",
            "9. Top Transaction types based on the Transaction Amount",
            "10. Top 10 Mobile Brands based on the User count of transaction"]
    select = st.selectbox(":violet[Select the option]",options)

In [45]:
if 'select' == "1. Top 10 states based on year and amount of transaction":
        cursor.execute(
            "SELECT DISTINCT State,Year, SUM(Transaction_amount) AS Total_Transaction_Amount FROM top_trans GROUP BY State,Year ORDER BY Total_Transaction_Amount DESC LIMIT 10");

        data = cursor.fetchall()
        columns = ['States', 'Year', 'Transaction_amount']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 states based on amount of transaction")
            st.bar_chart(data=df, x="Transaction_amount", y="States")

In [46]:
 if 'select' == "2. Least 10 states based on year and amount of transaction":
        cursor.execute(
            "SELECT DISTINCT State,Year, SUM(Transaction_amount) as Total FROM top_trans GROUP BY State, Year ORDER BY Total ASC LIMIT 10");
        data = cursor.fetchall()
        columns = ['States', 'Year', 'Transaction_amount']
        df = pd.DataFrame(data, columns=columns, index=range(1,len(data)+1))
        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Least 10 states based on amount of transaction")
            st.bar_chart(data=df, x="Transaction_amount", y="States")

In [47]:
if 'select' == "3. Top 10 States and Districts based on Registered_users":
        cursor.execute("SELECT DISTINCT State, Pincode, SUM(RegisteredUsers) AS Users FROM top_user GROUP BY State, Pincode ORDER BY Users DESC LIMIT 10;");
        data = cursor.fetchall()
        columns = ['State', 'Pincode', 'Registered_users']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 States and Districts based on Registered_users")
            st.bar_chart(data=df, x="Registered_users", y="State")

In [48]:
if 'select' == "4. Least 10 States and Districts based on Registered_users":
        cursor.execute("SELECT DISTINCT State, Pincode, SUM(RegisteredUsers) AS Users FROM top_user GROUP BY State, Pincode ORDER BY Users ASC LIMIT 10");
        data = cursor.fetchall()
        columns = ['State', 'Pincode', 'Registered_users']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))
        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Least 10 States and Districts based on Registered_users")
            st.bar_chart(data=df, x="Registered_users", y="State")

In [50]:
if "select" == "5. Top 10 Districts based on the Transaction Amount":
        cursor.execute("SELECT DISTINCT State, District, SUM(Amount) AS Total FROM map_trans GROUP BY State, District ORDER BY Total DESC LIMIT 10");
        data = cursor.fetchall()
        columns = ['States', 'District', 'Amount']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))
        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 Districts based on Transaction Amount")
            st.bar_chart(data=df, x="District", y="Amount")

In [52]:
if 'select' == "6. Least 10 Districts based on the Transaction Amount":
        cursor.execute(
            "SELECT DISTINCT State, District, SUM(Amount) AS Total FROM map_trans GROUP BY State, District ORDER BY Total ASC LIMIT 10");
        data = cursor.fetchall()
        columns = ['States', 'District', 'Amount']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Least 10 Districts based on Transaction Amount")
            st.bar_chart(data=df, x="District", y="Amount")

In [53]:
if 'select' == "7. Top 10 Districts based on the Transaction count":
        cursor.execute(
            "SELECT DISTINCT State, District, SUM(Count) AS Counts FROM map_trans GROUP BY State, District ORDER BY Counts DESC LIMIT 10");
        data = cursor.fetchall()
        columns = ['States', 'District', 'Count']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 Districts based on Transaction Count")
            st.bar_chart(data=df, x="Count", y="District")

In [54]:
if 'select' == "8. Least 10 Districts based on the Transaction count":
        cursor.execute(
            "SELECT DISTINCT State, District, SUM(Count) AS Counts FROM map_trans GROUP BY State, District ORDER BY Counts ASC LIMIT 10");
        data = cursor.fetchall()
        columns = ['States', 'District', 'Count']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 Districts based on the Transaction Count")
            st.bar_chart(data=df, x="Count", y="District")

In [55]:
if 'select' == "9. Top Transaction types based on the Transaction Amount":
        cursor.execute(
            "SELECT DISTINCT Transaction_type, SUM(Transaction_amount) AS Amount FROM agg_trans GROUP BY Transaction_type ORDER BY Amount DESC LIMIT 5");
        data = cursor.fetchall()
        columns = ['Transaction_type', 'Transaction_amount']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top Transaction Types based on the Transaction Amount")
            st.bar_chart(data=df, x="Transaction_type", y="Transaction_amount")

In [56]:
if 'select' == "10. Top 10 Mobile Brands based on the User count of transaction":
        cursor.execute(
            "SELECT DISTINCT Brands, SUM(Count) as Total FROM agg_user GROUP BY Brands ORDER BY Total DESC LIMIT 10");
        data = cursor.fetchall()
        columns = ['Brands', 'Count']
        df = pd.DataFrame(data, columns=columns, index=range(1, len(data) + 1))

        col1, col2 = st.columns(2)
        with col1:
            st.write(df)
        with col2:
            st.title("Top 10 Mobile Brands based on User count of transaction")
            st.bar_chart(data=df , x="User_Count", y="Brands")